@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 20px;

}


@media screen and (max-width:539px) {
    .contain-all {
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        justify-content: center;
        width: 50%;
        margin: 40px auto;
        height: 50%;
        align-items: center;
        background: hsl(244, 38%, 16%);
        border-radius: 10px;

    }
    body {
        background: hsl(233, 47%, 7%) ;
        text-align: center;
        position: relative;
        font-size: 15px;
    }
    h1, h2 {
        margin-top: 20px;
        padding: 0 40px;
        font-size: 18px;
        color: hsl(0, 0%, 100%);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    h2 {
        font-size: 18px;
        color: hsla(0, 0%, 100%, 0.9);
    }

    div, p , li > span {
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca', sans-serif;
        font-size: 12px;
        padding: 0 20px;
    }
    span {
        color: hsl(277, 64%, 61%);
    }
    

    p {
        font-size: 12px;
        padding: 0 20px;
    }

    img{
        /* max-width: 100%; */
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        /* if you add this the parent container is the size */
        /* if the image is more than the container set width: 100% */

        /* if image is less than the container set max-width: 100% */
    }

}


/* ***************************** */
/* Desktop */
/* ***************************** */

@media (min-width:539px) {

    .contain-all {
        display: flex;
        gap: 2em;
        margin: 50px auto;
        width: 60%;
        border-radius: 10px;
        }

    .article-c, .image-c {
        text-align: center;
        width: 50%;
    }

    h1, h2 {
        margin-top: 20px;
        padding: 0 40px;
        font-size: 20px;
        color: hsl(0, 0%, 100%);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    h2 {
        font-size: 18px;
        color: hsla(0, 0%, 100%, 0.9);
    }

    div, p , li > span {
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca', sans-serif;
        font-size: 24px;
        padding: 0 20px;
    }


    body {
        background: hsl(233, 47%, 7%) ;
        color: white;
    }

    span {
        color : hsl(277, 64%, 61%);
    }

    img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        aspect-ratio: 16/9;
    }

}








